.lawbg {
  background-image: url(./img/law1light.jpg);
  background-attachment: fixed;
  background-position: top left;
  background-repeat: repeat-y;
  background-size: 100%;
}

.lawnavbg {
  background-image: url(./img/law1nav.jpg);
  background-attachment: fixed;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100%;
}



